<h1>50 Angular Components</h1>

<ol>
  <li><a [routerLink]="['/displayHelloWorld']">Display Hello World</a></li>
  <li><a [routerLink]="['/showHelloButton']">Show Hello Button</a></li>
  <li><a [routerLink]="['/displayName']">Display Name</a></li>
  <li><a [routerLink]="['/counter']">Counter</a></li>
  <li><a [routerLink]="['/simpleForm']">Simple Form</a></li>
  <li><a [routerLink]="['/userAge']">User Age</a></li>
  <li><a [routerLink]="['/userGreeting']">User Greeting</a></li>
  <li><a [routerLink]="['/calculator']">Calculator</a></li>
  <li><a [routerLink]="['/textLength']">Text Length</a></li>
  <li><a [routerLink]="['/currencyConverter']">Currency Converter</a></li>
  <li><a [routerLink]="['/evenoOddChecker']">Even Or Odd Checker</a></li>
  <li><a [routerLink]="['/wordReverser']">Word Reverser</a></li>
  <li><a [routerLink]="['/showDate']">Show Date</a></li>
  <li><a [routerLink]="['/showUsername']">Show Username</a></li>
  <li><a [routerLink]="['/multiplicationTable']">Multiplication Table</a></li>
</ol>
