<h1>50 Angular Components</h1>

<ol>
  <li><a [routerLink]="['/displayHelloWorld']">Display Hello World</a></li>
  <li><a [routerLink]="['/showHelloButton']">Show Hello Button</a></li>
  <li><a [routerLink]="['/displayName']">Display Name</a></li>
  <li><a [routerLink]="['/counter']">Counter</a></li>
  <li><a [routerLink]="['/simpleForm']">Simple Form</a></li>
  <li><a [routerLink]="['/userAge']">User Age</a></li>
  <li><a [routerLink]="['/userGreeting']">User Greeting</a></li>
  <li><a [routerLink]="['/calculator']">Calculator</a></li>
  <li><a [routerLink]="['/textLength']">Text Length</a></li>
  <li><a [routerLink]="['/currencyConverter']">Currency Converter</a></li>
  <li><a [routerLink]="['/evenoOddChecker']">Even Or Odd Checker</a></li>
  <li><a [routerLink]="['/wordReverser']">Word Reverser</a></li>
  <li><a [routerLink]="['/showDate']">Show Date</a></li>
  <li><a [routerLink]="['/showUsername']">Show Username</a></li>
  <li><a [routerLink]="['/multiplicationTable']">Multiplication Table</a></li>
  <li><a [routerLink]="['/simpleLogin']">Simple Login</a></li>
  <li><a [routerLink]="['/fahrenheitToCelsius']">Fahrenheit To Celsius</a></li>
  <li><a [routerLink]="['/bookmarkList']">Bookmark List</a></li>
  <li><a [routerLink]="['/characterCounter']">Character Counter</a></li>
  <li><a [routerLink]="['/palindromeChecker']">Palindrome Checker</a></li>
  <li><a [routerLink]="['/temperatureConverter']">Temperature Converter</a></li>
  <li><a [routerLink]="['/shoppingList']">Shopping List</a></li>
  <li><a [routerLink]="['/factorialCalculator']">Factorial Calculator</a></li>
  <li><a [routerLink]="['/todoManager']">Todo Manager</a></li>
  <li><a [routerLink]="['/guessNumberGame']">Guess Number Game</a></li>
  <li><a [routerLink]="['/wordCounter']">Word Counter</a></li>
  <li>
    <a [routerLink]="['/randomNumberGenerator']">Random Number Generator</a>
  </li>
  <li>
    <a [routerLink]="['/multiplicationChecker']">Multiplication Checker</a>
  </li>
  <li><a [routerLink]="['/uppercaseConverter']">Uppercase Converter</a></li>
  <li><a [routerLink]="['/wordShuffler']">Word Shuffler</a></li>
  <li><a [routerLink]="['/bmiSolver']">BMI Solver</a></li>
  <li><a [routerLink]="['/usernameValidator']">Username Validator</a></li>
  <li><a [routerLink]="['/interestCalculator']">Interest Calculator</a></li>
  <li>
    <a [routerLink]="['/compoundInterestCalculator']"
      >Compound Interest Calculator</a
    >
  </li>
  <li><a [routerLink]="['/fibonacciGenerator']">Fibonacci Generator</a></li>
  <li><a [routerLink]="['/oddSumCalculator']">Odd Sum Calculator</a></li>
  <li><a [routerLink]="['/currencyFormatter']">Currency Formatter</a></li>
  <li><a [routerLink]="['/randomQuoteDisplay']">Random Quote Display</a></li>
  <li><a [routerLink]="['/uppercaseGreeting']">Uppercase Greeting</a></li>
  <li><a [routerLink]="['/divisibleChecker']">Divisible Checker</a></li>
  <li><a [routerLink]="['/evenSumCalculator']">Even Sum Calculator</a></li>
  <li><a [routerLink]="['/countVowels']">Count Vowels</a></li>
  <li><a [routerLink]="['/countConsonants']">Count Consonants</a></li>
  <li>
    <a [routerLink]="['/hoursToMinutesConverter']"
      >Hours to Minutes Converter</a
    >
  </li>
  <li>
    <a [routerLink]="['/areaOfCircle']">Area of Circle</a>
  </li>
  <li>
    <a [routerLink]="['/capitalizeWord']">Capitalize Word</a>
  </li>
  <li>
    <a [routerLink]="['/averageOfFiveNumbers']">Average Of Five Numbers</a>
  </li>
</ol>
