<header style="border-bottom: 2.5px solid black; padding: 20px 0">
  <a [routerLink]="['']">Back to home</a>
</header>

<main>
  <main>
    <input #principal type="number" placeholder="Enter principal" />
    <br />
    <input #rate type="number" placeholder="Enter rate" />
    <br />
    <input #time type="number" placeholder="Enter time" />
    <br />
    <input #frequency type="number" placeholder="Enter frequency" />
    <br />
    <button (click)="calculate(principal, rate, time, frequency)">
      calculate
    </button>
    <h1>Compound Interest: {{ compound }}</h1>
  </main>
</main>
